<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app17">
        <input type="text" v-model.lazy="message">
        <p>訊息: {{ message }}</p>

        <p>多行訊息:</p>
        <textarea v-model="message"></textarea>
        <p style="white-space: pre-line;">{{ message }}</p>

        <p>checkbox</p>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

        <p>more checkboxes</p>
        <input type="checkbox" id="Red" value="Red" v-model="checkedNames">
        <label for="Red">Red</label>
        <input type="checkbox" id="Blue" value="Blue" v-model="checkedNames">
        <label for="Blue">Blue</label>
        <input type="checkbox" id="Green" value="Green" v-model="checkedNames">
        <label for="Green">Green</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>

        <p>radio</p>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>

        <!-- <p>單選</p>
        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>

        <p>多選</p>
        <select v-model="selected" multiple>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span> -->

        <p>動態單選</p>
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
        </select>

        <span>選擇的是: {{ selected }}</span>

        <p>.number</p>
        <input v-model.number="age" type="number">

        <p>.trim</p>
        <input v-model.trim="msg">
        <span>{{ msg }}</span>
    </div>
    
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: '#app17',
            data: {
                message: '',
                checked: '',
                checkedNames: [],
                picked: '',
                selected: 'A',
                // selected: [],
                options: [
                    {text: 'One', value: 'A'},
                    {text: 'Two', value: 'B'},
                    {text: 'Three', value: 'C'}
                ],
                age: '',
                msg: ''
            },
            watch: {
                message: function(val) {
                    console.log('val :>> ', val);
                }
            }
        })
    </script>
</body>
</html>